<div class="container">

    <div>
        <h2>Ajouter un module</h2>
    </div>

    <form>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="title">Titre du Module</label>
            <input type="text" [(ngModel)]="newModule.title" name="moduleTitle" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="title">Description du Module</label>
            <input type="text" [(ngModel)]="newModule.description" name="moduleTitle" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="title">Durée du Module</label>
            <input type="number" [(ngModel)]="newModule.duration" name="moduleTitle" class="form-control">
        </div>
        <div class="mt-2">
            <button class="btn btn-success" type="submit" (click)="addModule()">
                Ajouter
            </button>
        </div>
    </form>
</div>
