<main>
    <div class="flex">
        <div>
            <h1>
                Bienvenue sur <br> StudySmart
            </h1>
            <p>
                Rejoignez notre communauté d'apprenants passionnés et commencez à apprendre avec nous dès maintenant !
            </p>
            <a href="">Commencer à apprendre</a>
        </div>
        <div>
            <div>
                <div>
                    <img src="../../../assets/images/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>    
</main>
