    <div class="mx-20 mt-16 max-w-full px-56 flex justify-center items-center gap-60"> <!-- home_container container grid -->
        <div class="text-start"> <!-- home data-->
            <h1 class="mb-4 text-4xl"> <!-- home title -->
                Bienvenue sur <br> StudySmart
            </h1>
            <p class="mb-16"> <!-- home_description-->
                Rejoignez notre communauté d'apprenants passionnés et commencez à apprendre avec nous dès maintenant !
            </p>
            <a routerLink="/courses" class="inline bg-sky-400 text-white font-semibold px-4 py-3 no-underline hover:shadow-2xl hover:shadow-blue-950 transition-shadow duration-500">Commencer à apprendre</a> <!-- button -->
        </div>
        <div class="grid"> <!-- home images-->
            <div> 
                <div>
                    <img src="../../../assets/images/logo.png" alt="" class="max-w-2xl">
                </div>
            </div>
        </div>
    </div>    
