<div class="container">
    <div>
        <h2>Modifier un Cours :</h2>
    </div>
    <form action="">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="">Titre du Cours</label>
            <input type="text" [(ngModel)]="currentCourse.title" name="title" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="">Description du Cours</label>
            <input type="text" [(ngModel)]="currentCourse.description" name="description" class="form-control">
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="">Prix du Cours</label>
            <input type="number" [(ngModel)]="currentCourse.price" name="price" class="form-control">
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="">Durée du Cours</label>
            <input type="number" [(ngModel)]="currentCourse.duration" name="duration" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="">Niveau du Cours</label>
            <select [(ngModel)]="currentCourse.level" name="level" id="course-level" class="form-select">
                <option value="Débutant">Débutant</option>
                <option value="Intermédiaire">Intermédiaire</option>
                <option value="Expert">Expert</option>
            </select>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Catégorie</label>
            <select name="idCat" id="idCat" class="form-select form-select-lg" [(ngModel)]="updatedCatId">
                <option *ngFor="let cat of categories" [value]="cat.id">
                    {{cat.name}}
                </option>
            </select>
        </div>


        <div class="col-sm-16 col-md-16 col-lg-16">
            <label for="">Image du Cours</label>
            <input type="file" [(ngModel)]="currentCourse.image" name="image" class="form-control" (change)="onImageUpload($event)">
        </div>

        <div class="mt-2">
            <button type="submit" (click)="onAddImageCourse()" class="btn btn-success">Ajouter Image</button>
        </div>

        <div class="col-sm-16 col-md-16 col-lg-16">
            <img [src]="myImage" class="card-img-top img-fluid rounded-start"
            style="width: 500px; height: 300px" />
        </div>

        <div class="card shadow mb-4">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Images</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let img of currentCourse.images">
                        <tr>
                            <td><img src="{{'data:' + img.type + ';base64,' + img.image}}" style="height: 50px; width: 100px" class="card-img-top img-responsive"></td>
                            <td style="width: 20%;"><a class="btn btn-danger" (click)="deleteImage(img)">Supprimer</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mt-2">
            <button type="submit" (click)="updateCourse()" class="btn btn-success">Modifier le Cours</button>
        </div>
    </form>
</div>

