<header class="header" id="header">
  <nav class="nav container">
     <a href="#" class="nav__logo">
        <img class="logo" src="../assets/images/logo.png" alt="">
     </a>
     <div class="nav__menu">
        <ul class="nav__list">
           <li class="nav__item">
              <a routerLink="home" class="nav__link active-link">
                 <i class="ri-home-line"></i>
                 <span>Accueil</span>
              </a>
           </li>
           <li class="nav__item">
              <a routerLink="courses" class="nav__link">
                 <i class="ri-book-open-line"></i>
                 <span>Cours</span>
              </a>
           </li>

           <li class="nav__item">
            <a routerLink="list-categories" class="nav__link">
               <i class="ri-message-3-line"></i>
               <span>Support</span>
            </a>
         </li>
         <li class="nav__item">
            <a routerLink="list-categories" class="nav__link">
               <i class="ri-message-3-line"></i>
               <span>Blog</span>
            </a>
         </li>
         <li class="nav__item">
            <a routerLink="list-categories" class="nav__link">
               <i class="ri-message-3-line"></i>
               <span>Contact</span>
            </a>
         </li>
        </ul>
     </div>

     <div class="nav__actions">
        <!-- Search button -->
        <i class="ri-search-line search-button" ></i>

        <!-- Login button -->
         <a routerLink="login">
          <i class="ri-user-line login-button"></i>
         </a>
        
     
     </div>
  </nav>
</header>

<main class="main"><!-- .main -->

  <router-outlet></router-outlet>

</main>

<footer class="footer">
  <div class="footer__container container grid">
     <div>
        <a href="#" class="footer__logo">
           <img class="logo" src="../assets/images/logo.png" alt="">
        </a>
        <!--<p class="footer__description">
           Find and explore the best <br>
           eBooks from all your <br>
           favorite writers.
        </p>-->
     </div>

     <div class="footer__data grid">
      <!--  <div>
           <h3 class="footer__title">About</h3>

           <ul class="footer__links">
              <li>
                 <a href="" class="footer__link">Awards</a>
              </li>
              <li>
                 <a href="" class="footer__link">FAQs</a>
              </li>
              <li>
                 <a href="" class="footer__link">Privacy policy</a>
              </li>
              <li>
                 <a href="" class="footer__link">Terms of services</a>
              </li>
           </ul>
        </div>

        <div>
           <h3 class="footer__title">Company</h3>

           <ul class="footer__links">
              <li>
                 <a href="" class="footer__link">Blogs</a>
              </li>
              <li>
                 <a href="" class="footer__link">Community</a>
              </li>
              <li>
                 <a href="" class="footer__link">Our team</a>
              </li>
              <li>
                 <a href="" class="footer__link">Help center</a>
              </li>
           </ul>
        </div> -->

        <div>
           <h3 class="footer__title mt-5">Contact</h3>

           <ul class="footer__links">
              <li>
                 <address class="footer__info">
                    Av. Doranco <br>
                    Paris 75010, Paris
                 </address>
              </li>
              <li>
                 <address class="footer__info">
                    study-smart&#64;email.com <br>
                    01-02-03-04-05
                 </address>
              </li>
           </ul>
        </div>

        <div>
           <h3 class="footer__title mt-5">Social</h3>

           <div class="footer__social">
              <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                 <i class="ri-facebook-circle-line"></i>
              </a>

              <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                 <i class="ri-instagram-line"></i>

              </a>

              <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                 <i class="ri-twitter-x-line"></i>
              </a>
           </div>
        </div>

     </div>
  </div>
  <span class="footer__copy">
     &#169; All Rights Reserved By MaximeB
  </span>
</footer>