<header class="w-full z-50 transition-shadow duration-500">
  <nav class="container flex justify-between items-center h-24">
      <a routerLink="home">
        <img src="../assets/images/logo.png" alt="" class="max-w-20 max-h-20">
      </a>
    <div class="flex gap-20">
      <ul class="flex justify-between items-center gap-16">
        <li>
          <a routerLink="home">
            <i class="ri-home-line text-sm hidden font-serif"></i>
            <span class="text-slate-600 text-lg hover:text-sky-400 duration-300">Accueil</span>
          </a>
        </li>
        <li>
          <a routerLink="courses">
            <i class="ri-book-open-line text-sm hidden"></i>
            <span class="text-slate-600 text-lg hover:text-sky-400 duration-300">Cours</span>
          </a>
        </li>
        <li>
          <a routerLink="list-categories">
            <i class="ri-message-3-line text-sm hidden"></i>
            <span class="text-slate-600 text-lg hover:text-sky-400 duration-300">Catégorie</span>
          </a>
        </li>
      </ul>
      <div class="flex gap-8">
        <a routerLink="rechercherParNom"><i class="ri-search-line text-slate-600 text-lg hover:text-sky-400 duration-300"></i></a>
        <a routerLink="login"><i class="ri-user-line text-slate-600 text-lg hover:text-sky-400 duration-300"></i></a>
      </div>
    </div>

  </nav>
</header>
<main class="overflow-hidden"><!-- .main -->

  <router-outlet></router-outlet>

</main>

<footer>
  <div>

    <div>
      <a routerLink="home">
        <img src="../assets/images/logo.png" class="max-w-28" alt="">
      </a>
      <p> <!-- home_description-->
        Rejoignez notre communauté d'apprenants<br> 
        passionnés et commencez à apprendre<br>
        avec nous dès maintenant !
      </p>
    </div>


    <div>
      <ul>
        <li><a href="">Awards</a></li>
        <li><a href="">FAQs</a></li>
        <li><a href="">Privacy policy</a></li>
        <li><a href="">Terms of service</a></li>
      </ul>
    </div>

    <div>
      <h3>Company</h3>
      <ul>
        <li><a href="">Blogs</a></li>
        <li><a href="">Community</a></li>
        <li><a href="">Our team</a></li>
        <li><a href="">Help Center</a></li>
      </ul>
    </div>

    <div>
      <h3>Contact</h3>

      <ul>
        <li>
          <address>
            Av. Doranco <br>
            Noiseau 94880, France
          </address>
        </li>
        <li>
          <address>
            study-smart-project&#64;mail.com<br>
            01-XX-00-XX-00
          </address>
        </li>
      </ul>
    </div>

    <div>
      <h3>
        <div>
          <a href="https://www.facebook.com/" target="_blank">
            <i class="ri-facebook-circle-line"></i>
         </a>

         <a href="https://www.instagram.com/" target="_blank">
            <i class="ri-instagram-line"></i>

         </a>

         <a href="https://twitter.com/" target="_blank">
            <i class="ri-twitter-x-line"></i>
         </a>
        </div>
      </h3>
    </div>
  </div>
</footer>