<header class="top-0 left-0 bg-white w-full z-50 transition-shadow duration-500">
  <nav class="container flex justify-between items-center h-24">
      <a routerLink="home" >
        <img src="../assets/images/logo.png" alt="" class="max-w-20 max-h-20 ml-80">
      </a>
    <div class="flex gap-20">
      <ul class="flex justify-between gap-16">
        <li>
          <a routerLink="home">
            <i class="ri-home-line text-sm hidden font-serif"></i>
            <span class="text-slate-600 text-lg hover:text-sky-400 duration-300">Accueil</span>
          </a>
        </li>
        <li>
          <a routerLink="cours">
            <i class="ri-book-open-line text-sm hidden"></i>
            <span class="text-slate-600 text-lg hover:text-sky-400 duration-300">Cours</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="ri-message-3-line text-sm hidden"></i>
            <span class="text-slate-600 text-lg hover:text-sky-400 duration-300">Forums</span>
          </a>
        </li>
      </ul>
      <div class="flex gap-8">
        <a routerLink="rechercherParNom"><i class="ri-search-line text-slate-600 text-lg hover:text-sky-400 duration-300"></i></a>
        <a (click)="openLoginModal()"><i class="ri-user-line text-slate-600 text-lg hover:text-sky-400 duration-300"></i></a>
      </div>
    </div>

  </nav>
</header>

<router-outlet></router-outlet>

<footer>

</footer>