<div class="container mt-5">
    <h2 class="text-center">Gestion des catégories</h2>
    <div class="text-center">
        <a routerLink="/add-category" class="btn btn-success my-3">Ajouter une catégorie</a>
    </div> 
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nom de la Catégorie</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cat of categories">
                        <td>{{cat.id}}</td>
                        <td>{{cat.name}}</td>
                        <td>{{cat.description}}</td>
                        <td class="d-flex">
                            <a [routerLink]="['/update-category', cat.id]" class="btn btn-warning btn-sm"><i class="ri-edit-fill"></i></a>
                            <a (click)="deleteCategory(cat)" class="btn btn-danger btn-sm ml-3"><i class="ri-delete-bin-fill"></i></a>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
