<div class="container mt-4">
    <div class="card mb-4">
        <h2 class="text-center mt-4">
            {{ currentCourse.title }}
        </h2>
        <div class="card-body text-center px-5">
            <p class="card-text mx-5">
                {{ currentCourse.description }}
            </p>
            <p class="card-text">
                Niveau : 
                <span class="fw-bold" [ngStyle]="{
                    'color': currentCourse.level === 'Débutant' ? 'green' :
                             currentCourse.level === 'Intermédiaire' ? 'orange' :
                             currentCourse.level === 'Avancé' ? 'black' : 'red'
                }">
                    {{ currentCourse.level }}
                </span>
                , Durée : {{ currentCourse.duration | duration }}
            </p>
            <a class="btn btn-primary" [routerLink]="['/add-module', currentCourse.id]">
                Ajouter un Module
            </a>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <ul class="list-group w-100">
            <li class="list-group-item" *ngFor="let module of modules; let im = index">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="ml-3">
                        <h5 class="mt-2">Chapitre {{ im + 1 }} : {{ module.title }}</h5>
                        <p>Durée : {{ module.duration | duration }}</p>
                    </div>
                    <div class="mr-4">
                        <a class="btn btn-sm btn-danger mr-1" (click)="deleteModule(module)"><i class="ri-delete-bin-fill"></i></a>
                        <a class="btn btn-sm btn-success" [routerLink]="['/add-lesson', currentCourse.id, module.id]"><i class="ri-add-box-fill"></i></a>
                    </div>
                </div>
                <ul class="list-group list-group-flush mt-3">
                    <li class="list-group-item" *ngFor="let lesson of lessons[module.id]; let il = index">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6>Leçon {{ il + 1 }} : {{ lesson.title }}</h6>
                                <p>Durée : {{ lesson.duration | duration }}</p>
                            </div>
                            <div>
                                <a href="" class="btn btn-sm btn-danger mr-1" (click)="deleteLesson(module.id, lesson.id)">
                                <i class="ri-delete-bin-fill"></i>
                                </a>
                                <a class="btn btn-info text-white btn-sm" [routerLink]="['/view-lesson', currentCourse.id, module.id ,lesson.id ]">
                                    <i class="ri-file-search-fill"></i>
                                </a>
                            </div>
                            
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>