<h2 class="text-center">
    {{ currentCourse.title }}
</h2>
<div class="container">
    <p class="text-center">
        {{ currentCourse.description }}
    </p>
    <p class="text-center">
        Niveau : 
        <span class="text" [ngStyle]="{
            'color': currentCourse.level === 'Débutant' ? 'green' :
                     currentCourse.level === 'Intermédiaire' ? 'orange' :
                     currentCourse.level === 'Avancé' ? 'black' : 'red'
        }">
            {{ currentCourse.level }}
        </span>
         , Durée : {{ currentCourse.duration }}h
    </p>
</div>
