<div class="container mt-5">

    <div class="text-center mb-4">
        <h2>Ajouter une leçon</h2>
    </div>

    <form>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="lessonTitle">Titre de la leçon</label>
                <input type="text" [(ngModel)]="newLesson.title" name="lessonTitle" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="lessonDuration">Durée de la leçon</label>
                <input type="number" [(ngModel)]="newLesson.duration" name="lessonDuration" class="form-control">
            </div>
        </div>

        <div class="mb-3">
            <label for="lessonDescription">Description de leçon</label>
            <textarea type="text" [(ngModel)]="newLesson.description" name="lessonDescription" class="form-control"></textarea>
        </div>
        <div class="mb-3" id="content">
            <label for="title">Contenu de la leçon</label>
            <input type="text" [(ngModel)]="newLesson.content" name="lessonContent" class="form-control">
        </div>

        <div class="text-center">
            <button class="btn btn-success" type="submit" (click)="addLesson()">
                Ajouter
            </button>
        </div>
    </form>
</div>
