<div class="container">
    <a routerLink="/add-course" class="btn btn-success">Ajouter un cours</a>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Prix</th>
                        <th>Durée</th>
                        <th>Niveau</th>
                        <th>Catégorie</th>
                    </tr>
                </thead>
                <tbody *ngFor="let course of courses">
                    <tr>
                        <td>{{course.id}}</td>
                        <td>{{course.title}}</td>
                        <td>{{course.description}}</td>
                        <td><img src="{{apiurl + '/image/loadfromFS/' + course.id}}" style="height: 50px; width: 100px" class="card-img-top card-responsive"></td>
                        <td>{{course.price}} €</td>
                        <td>{{course.duration}}h</td>
                        <td>{{course.level}}</td>
                        <td>{{course.category?.name}}</td>
                        <td><a class="btn btn-info text-white" [routerLink]="['/consult-course', course.id]"><i class="ri-file-search-fill"></i></a></td>
                        <td><a class="btn btn-warning text-white" [routerLink]="['/update-course', course.id]"><i class="ri-edit-fill"></i></a></td>
                        <td><a class="btn btn-danger" (click)="deleteCourse(course)"><i class="ri-delete-bin-fill"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
